# Terraform state and backup files
*.tfstate
*.tfstate.*
*.backup
*.tfvars
*.tfvars.json
terraform.tfstate.backup
terraform.tfvars
terraform.tfvars.json

# Terraform plan files
*.tfplan
*.tfplan.json

# Terraform lock and workspace files
.terraform.lock.hcl
*.terraform.lock.json
.terraform.workspace
*.terraform.workspace.json

# Terraform directories
.terraform/
.terraform/

# Terraform module and provider caches
.terraform/modules/
.terraform/providers/

# Local .zip packages
*.zip

# AWS Lambda build artifacts
build/
app/**/build/
app/**/.python_packages/
# Carpetas de compilación/paquete
app/lambdas/*/build/



# IDE and OS files
.DS_Store
.idea/
.vscode/
*.swp

# Optional: JSON outputs or logs you don't want in Git
out.json
